# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
out/
coverage/
.DS_Store

# Electron
*.local
*.lock
*.asar
build/*.ico

# OS
Thumbs.db
desktop.ini

# IDEs/editors
.vscode/
.idea/
*.swp

# macOS
.DS_Store

# Windows
ehthumbs.db
